[submodule "kicad/OPL_Kicad_Library"]
	path = kicad/OPL_Kicad_Library
	url = https://github.com/Seeed-Studio/OPL_Kicad_Library.git
[submodule "kicad/marbastlib"]
	path = kicad/marbastlib
	url = https://github.com/ebastler/marbastlib.git
